@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html,
body {
  background-color: #020617; /* tailwind slate-950 */
  color: #e5e7eb; /* tailwind slate-200 */
  overscroll-behavior: none;
}